body {
  background-color: beige;
}
img {
  width: 10rem;
  height: 10rem;
  object-fit: cover;
}
.Bruh {
  display: flex;
  justify-content: space-evenly;
}

.Artist {
  display: flex;
  flex-direction: column;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: last baseline;
}

.flex h1 {
  margin-right: 1rem;
}

.par {
  display: flex;
  margin-top: 5rem;
}
